<div id="sylius-gift-card" style="margin-top: 1rem;">
    <div class="ui coupon action input">
        {{ form_widget(form.giftCardCode, {'attr': {'form': main_form }}) }}
        <button type="submit" id="sylius-save" class="ui purple icon labeled button" form="{{ main_form }}"><i class="gift icon"></i> Add gift card</button>
    </div>
    <br>
    {{ form_errors(form.giftCardCode) }}
</div>
